.git
.gitignore
README.markdown
log/*
spec
tmp
coverage
Guardfile
codesake-dawn.yaml
.ruby-version
._.DS_Store
.rspec
.rubocop.yml
.travis.yml
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
catarse-api/*
