- user = @notification.user
- category = @notification.category

| Hello #{user.name},
br/
br/
| What is new this week in category #{category.name_en}
br/
br/
- category.projects.of_current_week.with_state('online').each do |project|
  |#{link_to(project.name, project_by_slug_url(permalink: project.permalink, ref: 'notificacao_subscription_category'))}
  br
  |#{project.headline}
  br
  br
br/
br/
|Regards,
br/
| #{CatarseSettings[:company_name]}
br/
br/
| #{link_to 'Unsubscribe', unsubscribe_category_url(category), target:'__blank'} to stop receiving news about recent projects in the category.
