- contribution = @notification.contribution
- payment = contribution.payments.last
- user = @notification.contribution.user
- bank_account = user.bank_account

|Hello, #{contribution.user.name}!
br
br
| Unfortunately #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} the project that you supported didn't reach the target goal and will not be funded on #{CatarseSettings[:company_name]}.
br
br
| Its support was made through bank slip, perform the refund directly to your account within 30 days.
br
br
| Bank: #{bank_account.bank.to_s}
br
| Branch: #{bank_account.try(:agency)} - #{bank_account.try(:agency_digit)}
br
| Account: #{bank_account.try(:account)} - #{bank_account.try(:account_digit)}
br
| Account Holder: #{bank_account.try(:owner_name)}
br
| SIN: #{bank_account.try(:owner_document)}
br
br
| Once the refund has been made, you will receive an email confirmation of the operation.
br
br
| If you got any questions, please contact us by replying to this message or by e-mail #{mail_to CatarseSettings[:email_contact]}
| and inform your support identification key, which is: #{payment.gateway_id}
br
br
| Regards,
br
| #{CatarseSettings[:company_name]}
