- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

|Hello, <strong>#{contribution.user.display_name}</strong>!
br
br
|We do not receive the support of the payment confirmation for the project #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}.
br
br
|We recomend you #{link_to 'to try with a different credit card', new_project_contribution_path(contribution.project, ref: 'notificacao_cancelado')}.
br
br
| If you can not complete your contribution contact replying to this message or by e-mail #{mail_to contact_email}
br
br
|Regards,
br
| #{company_name}
