- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

p Hello, <strong>#{contribution.user.display_name}</strong>!
p
  | We do not receive the payment confirmation of the ticket generated for the project  #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}.
p If you need a period of larger expiration date, you can generate a duplicate here::
center
  = link_to second_slip_project_contribution_url(contribution.project, contribution, host: CatarseSettings[:host]), target: '__blank' do
    = image_tag "#{CatarseSettings[:base_url]}/assets/catarse_bootstrap/2nd_slip.png"

p Any questions, just contact us by replying to this message or by e-mail #{mail_to contact_email}
p Regards,
br
| #{company_name}
