- user = @notification.donation.user
- amount = number_to_currency user.donations.where("created_at > current_timestamp - interval '1 day'").sum(:amount)
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

p Hello, <strong>#{user.display_name}</strong>!

p Thank you very much! Your donation is essential to maintain this vibrant ecosystem independent and free. This way you help us to invest in innovation, and firmly follow our  mission to democratize public financing in the USA and make the practice a habit in the country.
p Donation details:
|Contributor's name: #{user.display_name}
br
|Contributor's SIN #{user.cpf}
br
|Value: #{amount}
br
| Startio
br
/ TODO: add real number here
| Startio's Incorportation number
br
br
p As a simple way to thank you, we made this photo montage of our team!
center
  = image_tag "https://i.imgur.com/LUeb5gM.jpg", width: 550

p Any questions, just contact us by replying to this email or by e-mail #{mail_to contact_email}
p Regards,
br
| #{company_name}
