- contribution = @notification.contribution
- details = contribution.details.first

|Hello, #{contribution.user.name}!
br
br
| Unfortunately the project  #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} that you supported did not achieve the target set and has not been financed in #{CatarseSettings[:company_name]}.
br
br
| Within 5 working days we will refund the value of your support that <strong> to your current or
| subsequent invoice of your card </strong>. Once the refund is made, you will receive an email confirming the operation.
br
br
p Refund of: #{number_to_currency details.value}

p Refund request date: #{details.pending_refund_at.try(:to_date)}

p ID on the credit card statement: "Reversal of Startio"

| If you got any questions, please contact us by replying to this message or by e-mail #{mail_to CatarseSettings[:email_contact]}
| and inform us your contribution key: #{details.gateway_id}
br
br
|Regards,
br
| #{CatarseSettings[:company_name]}
