- contribution = @notification.contribution
p Hello, <strong>#{contribution.user.display_name}</strong>!
p
  | Congrats! The project #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} that,
  | including you, had #{contribution.project.total_contributions} supporters, was succesful in reaching its goal! #{CatarseSettings[:company_name]}.
p This email serves as a <strong> final receipt for your contribution</strong>.
= render partial: 'contribution_data', locals: {contribution: contribution}
