- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hello, #{user.name}!
br
br
| Thanks you for adding project #{link_to project.name, project_link, target: '__blank'}
br/
br/
| From now on, our project team will <strong> evaluates all content </strong> you put on the page and (in a maximum of 4 days)
'  you will receive an email stating if it was <strong> Approved Refused </strong> or whether to continue <strong> In Review </strong> for some time.
br
br
strong What does this means?
br/
br/
strong Page was refused
br/
| Your project does not have the profile for #{company_name} or we have found that you direspected the rules. This page can not be published on the platform.
br/
br/
strong Page is being nalyzed
br/
| Project has the profile for #{company_name} and it follows the rules, but the page is not ready to be published in the platform. Receive our tips and suggestions. Finalize the issues in the project page and let our support agent know when you want to make a new assessment.
br/
br/
strong Page was aproved
br/
| Let's go ahead, staring the campaign is up to you! Choose the best date and publish the project's page on the platform.
br/
br/
strong
  | To follow the status of a project page #{link_to project.name, project_link, target: '__blank'} keep an yee on your inbox and you project page.
br/
br/
| Remember that you can ask questions to us at any time by replying directly to this message or by e-mail #{mail_to CatarseSettings[:email_projects]}
br/
br/
|Regards,
br/
= company_name
