- contribution = @notification.contribution
| Hello
br/
br/
| The contribution #{contribution.key} to the project #{contribution.project.name} was confirmed with the lower value of project support value.
br/
br/
