p Hello #{@notification.user.display_name}!

p On <strong>11/07</strong>, we will remove the obligation to inform the bank details to make a payment on Startio.

p
  strong After that date, people who supported a non-funded project through a bank shall be notified weekly to fill the bank account information and have their money refunded in full.

p If we are unable to contact you through the registration data entered on the platform and miss the bank information needed to make the refund within the 12-month period after the project closure date, the amount in question shall be deemed waived and may be used by Startio to support other projects to capture the platform.

p Remember that this new rule takes effect for backups made from 11/07 on, as is clear in #{link_to 'new verion of the term of use', terms_of_use_url}.

p Any questions about this change, please reply to this email or contact through #{mail_to 'contato@catarse.me'}

p Regards,

p Startio
