- contribution = @notification.contribution

-if contribution.user.name
  |Hello, <strong>#{contribution.user.name}</strong>!
-else
  |Hello!
br
br
' We found that you have started a pledge for the project #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_pending')},
|but failed to complete it.
br
br
| Your support is essential and you can join the other #{contribution.project.total_contributors} people to make this project a reality.
br
br
| #{ link_to "Now restart your contribution from where you left it off.", edit_project_contribution_url(project_id: contribution.project.id, id: contribution.id, ref: 'notification_pending') }
br
br
| If the reason for not having completed their support was a technical problem, we recommend try again using another browser.
br
br
| If the problem persists, please contact us immediately by replying to this message or by e-mail #{mail_to CatarseSettings[:email_contact]}
br
br
|Regards,
br
|#{CatarseSettings[:company_name]}
