- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hello, #{user.name}!
br/
br/
| Thank you for starting the registration process of project  #{company_name}!
br/
| We received your application!
br/
br/
| You just created a draft project page #{link_to project.name, project_link} for #{company_name}.
br/
br/
strong strong It's time to work on the presentation of your project!
br/
| Your project is in the #{company_name} as a draft, i.e., not public
'  You can send the link up to other people to view the page and help you with comments and suggestions.
br/
br/
strong No one can support your project until it is approved and the campaign is in public.
br/
| To advance in these steps you must complete the entire draft page of your project and send it to our analysis. When considering that your page is ready, simply click the "SEND" button.
br/
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-send-to-analysis.gif', width: 600
br/
br/
| After that, the team #{company_name} will assess whether the project is in line with the platform criteria and send you an answer (to this same email) within 4 days!
br/
br/
| If you got any questions, please reply to this message or send email to #{mail_to CatarseSettings[:email_projects]}
br/
br/
| And by the way, please <strong> do not forget to include in your contact list e-mails: </strong>
| #{mail_to CatarseSettings[:email_projects]} and #{mail_to CatarseSettings[:email_contact]} to prevent our messages fall into your spam due to your email filters.
br/
br/
| Regards,
br/
= company_name
