- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hello, #{project.user.display_name},
br/
br/
| Unfortunately the project #{link_to project.name, project_link } did not reach the financing target goal for #{company_name}.
br/
br/
| Rest assured, all your supporters have received an email with instructions on the #{link_to 'the refunding process', 'http://suporte.catarse.me/hc/pt-br/articles/202365507-Regras-e-funcionamento-dos-reembolsos-estornos', target: '__blank' }.
br/
br/
strong Want to help improve Startio?
br/
| Your project may not have achieved the goal but surely you learned something and can benefit greatly from this experience if you want! Share your learning with us!
br/
br/
strong 1. What are the two worst problems you faced during the campaign?
br/
br/
| It may be something directly related to the #{company_name}, company_name, reflects his self-criticism, or even external reasons that hampered its path in the collective funding.
br/
br/
strong 2. What do you missed the most on the #{company_name} platform?
br/
br/
| How can we improve the platform? How I could have helped you more?
br/
br/
| We are always striving to improve the usability of the site and our service. So we need to be aware of what you have to say about us.
br/
br/
| We hope you find this valuable experience and know that we are ready if you need our help!
br/
br/
| See you soon!
br/
br/
| Regards,
br/
| Our #{company_name} team loved accompany you on this adventure!
