- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

| Hello, #{project.user.name}, your <strong>#{link_to 'project was aproved', project_link}</strong> and can be published online whenver you want.
br/
br/
strong
  | To start the campaign you need to do only 3 things!
br/
br/
strong
  | 1. Fill your bank details tab #{link_to 'Account', edit_project_url(project, anchor: 'user_settings')}.
br/
| We need your bank details to make the transfer of the proceeds if you reach your funding goal.
br/
br/
strong
  | 2. Choose the best time to start.
br/
| Is it really you who choose the release date.
br/
br/
strong
  | 3. And press the publish button.
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-publish.gif', width: '600'
br/
br/
strong
  | Attention!
br/
| - After the publication is All-or-Nothing and some aspects of the project can not be changed!
br/
| - We only charge our rate of 13% if you succeed in your fundraising! Understand how we o #{link_to 'repasse do dinheiro', 'http://suporte.catarse.me/hc/pt-br/articles/202037493-Como-ser%C3%A1-feito-o-repasse-do-dinheiro-'}.
br/
br/
| Remember that you can ask questions to us by replying directly to this message or by e-mail #{mail_to CatarseSettings[:email_projects]}
br/
br/
| Regards,
br/
| Our team from #{company_name} wishes you good luck!
