- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hello, #{user.decorate.display_name}.
br/
br/
| <strong>The project #{link_to project.name, project_link, target: '__blank'} Is published and can now receive support </strong>
br/
br/
| It is very important to plan your campaign. But if you did not plan your actions before, do not waste time.
'The time is now! We are here to help you! Discuss communication strategies with our team and receive
'suggestions on how to act in your campaign, reply to this email or send a message to #{mail_to CatarseSettings[:email_projects]}.
br/
br/
| Check out our  #{link_to 'GUIA DE REALIZADORES', guides_url} to learn about how to conduct a campaign!
br/
br/
| Remember that <strong> you are responsible for promoting the campaign and take care of the project dissemination. </strong> It is from your network that will come most of the support!
br/
br/
strong A short list of what can and can not be changed in a published project:
br/
br/
strong You Can
br/
| -  #{link_to 'Download Reports', edit_project_url(project, anchor: 'reports')}
br/
| -  #{link_to 'See the graphics and metrics of your campaign', edit_project_url(project, anchor: 'home')}
br/
| - Change the main video of your campaign
br/
| - Send news directly to email my supporters
br/
| - Download reports
br/
| - Edit the description of your project
br/
| - Create new rewards
br/
| - Change content and value of rewards that no one chose
br/
| - Change the ammount of a particular reward
br/
| - Exhausting rewards (limiting them to an X number of supporters)
br/
| - Change Thumbnail and Effect Headline of your project
br/
br/
strong You Can't
br/
| - Change collection target
br/
| - Change the chosen term
br/
| - Change rewards where there are support already made
br/
br/
| Please </ strong> do not forget to include in your contact list e-mails:</strong>
'  #{mail_to CatarseSettings[:email_projects]} and #{mail_to CatarseSettings[:email_contact]} to prevent our messages fall into your spam due to your email filters.
br/
br/
| Regards,
br/
| Our team #{company_name} wishes you a good campaign!!!!
