- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

| Hi #{project.user.name},
br/
br/
| The term of the project #{link_to project.name, project_link} no #{company_name} has come to an end.
br/
br/
| Because pay slip deadlines have outstanding payments for your project.
'To compute this support we will be awaiting confirmation of these contributions for up to <strong> 4 working days after the completion of the project </ strong>.
'Remember, this is where we discount the rate of 13% on the Catharsis services other payment methods. This fee is levied on the total amount collected.
br/
br/
| Check out what can happen after that date:
br/
br/
- if project.is_flexible?
  | We are waiting the time to account for last minute support. With this process completed we will pass on the collected amount for you.
- else
  | <strong>1) If your project has reached or surpassed the target: </strong>
   'Let's just wait for the time to account for those last minute support. With this process completed, simply
  = link_to 'transfering the funds to you.', 'http://suporte.catarse.me/hc/pt-br/articles/202037493-Como-ser%C3%A1-feito-o-repasse-do-dinheiro-', target: '__blank'
  br/
  br/
  | <strong>2) If your project has not yet reached the goal: </ strong> we wait and hope for the confirmation of such support! Reaching 100% of the target will start transfer to you.
  br/
  | Otherwise we begin to #{link_to 'refund your supporters', 'http://suporte.catarse.me/hc/pt-br/articles/202365507-Regras-e-funcionamento-dos-reembolsos-estornos', target: '__blank'}.
br/
br/
| <strong>Attention:</strong> To make the transfer we use the registration and bank details <strong>#{link_to 'open Account', edit_project_url(project, anchor: 'user_settings')}</strong> of your project. <strong> Make sure your detail is correct</strong>
br/
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/funded-conta.gif', width: 600
br/
br/
| If you got any questions, please reply directly to this message or contact us by e-mail #{mail_to CatarseSettings[:email_projects]}. If you need to talk over the phone we will be available Monday to Friday from 14h to 18h on the phone (11) 98414-0090.
br/
br/
| Regards,
br/
= company_name
