- contribution = @notification.contribution
- detail = contribution.details.ordered.first
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]
|Hello, <strong>#{contribution.user.display_name}</strong>!
br
br
|The refund of their support for the project  #{contribution.project.name} no #{company_name} just happened. Effective credit should happen in the current statement, if it is still open, or in the next, if this month is already closed.
br
br
|Refunded Value: #{number_to_currency detail.value}
br
br
|Refund date: #{I18n.l detail.refunded_at}
br
br
|Identificação na fatura do cartão de crédito: “Estorno do Catarse”
br
br
|If you got any questions, please contact us by replying to this message or by e-mail #{mail_to contact_email}. Do not forget to tell us your support identification key, which is: #{detail.payment_id}
br
br
|Regards,
br
| #{company_name}
