- user = @notification.user
|Hello #{user.name}, how are you?
br
|You know when you find that 20 dollar bill in the pocket of your pants that you forgot about long ago. This email is to remind ourselves that good feeling. = D
br
|In many cases, we did not have a simple solution to refund supporters. Now we optimizing this step. You are part of the first group that will be refunded directly to the bank account. :-)
br
|For that, we need you to fill out the form below with your bank details: #{link_to 'http://bit.ly/reembolsoCatarse', 'http://bit.ly/reembolsoCatarse'}
br
|The amount of contibution that you pledged and you will be refunded is: $#{user.contributions.where(state:'requested_refund').sum(:value)}.
br
|Unfortunately, as your contribtuion was made more than 120 days, we will not refund the fee payment method (card or ticket). This rate is different according to the used form of payment, and which may vary between 2% and 6% of the support.
br
|The identification number of their contribution is:
br
- user.contributions.where(state:'requested_refund').each do |contribution|
  |#{contribution.key}
  br
|We will make the deposit in your account until November / 2014. That's because we have to do one by one, almost 8000 operations. We prefer to define a longer term and deliver as promised than promise something for tomorrow and not keep.
br
|I hope you understand and are here to take any questions. To do so, just reply to this message.
br
|Thanks
br
|Diego Reeberg
br
|Organizational Juggler
