- contribution = @notification.contribution

| hello Community!
br/
br/
| This support for non-funded project, was done through credits. Please contact the director to make the repayment.
br/
br/
| User #{contribution.user.display_name}
br/
| User Email: #{contribution.user.email}
br/
| Email payment: #{contribution.payer_email}
br/
| Name of payment: #{contribution.payer_name}
br/
| Project: #{contribution.project.name}
br/
| support key: #{contribution.key}
br/
| Identifier in the payment means: #{contribution.payment_id}
br/
| support value: #{contribution.details.ordered.first.decorate.display_value} 
br/
| payment means: #{contribution.gateway}
br/
| Form of payment: #{contribution.payment_choice}
br/
| Creation date: #{contribution.created_at}
