- user = @notification.user

| Hello #{user.name},
br/
br/
| We are super happy to announce our partnership with the first comic streaming service in Brazil!
br/
br/
= link_to image_tag('https://s3.amazonaws.com/cdn.catarse/notifications_assets/header-email-apoiadores.jpg'), 'https://www.socialcomics.com.br/', target: '__blank'
br/
br/
| In this first action of the partnership, we are offering you has supported at least a comic project in Startio, a coupon of 3 months free on Social Comics platform. With this you will be able to experience a new way to read and explore the Brazilian comics universe.
br/
br/
| To get access, you only need to access &nbsp;
= link_to 'www.socialcomics.com.br', 'https://www.socialcomics.com.br', target: '__blank'
| &nbsp; , register and use the promo code <strong>Startio</strong> the payment screen (At the end of three months free period, you can follow the paid plan or cancel it). But remember, <strong> this promotional code is valid until 01/05/2016 </ strong> and can only be used if you do not have account in Social Comics.
br/
br/
p style="text-align:center"
  = link_to image_tag('https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-apoiadores-email.jpg'), 'https://www.socialcomics.com.br/', target: '__blank'
