- user = @notification.user

| Hello #{user.display_name},
br/
br/
| This email is to notify the recent update to our #{link_to 'terms of use', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'}
'  e #{link_to 'privacy policy', 'http://www.catarse.me/pt/privacy-policy', target: '__blank' }. The changes are related to new payment method that Startio is using and began to apply to projects that go online on 11/10/2014.
br/
br/
| Summarizing the changes:
br/
br/
| - unfunded projects do not generate more credits (regardless of when they entered);
br/
| - there will be the possibility of using credits on any project;
br/
| - If the project is not funded, reimbursement of the payment is made via credit card within 5 working days directly on the invoice;
br/
| - If the project is not funded, reimbursement of the payment made via ticket within 10 days directly in the given bank account at the time of payment;
br/
| - option to save the credit card data in the Startio profile.
br/
br/
| To read all the details see our #{link_to 'post no blog', 'http://blog.catarse.me/pode-parcelar-pode-e-salvar-o-cartao-e-automatizar-reembolsos-e-repasses/', target: '__blank'} or
'  Read #{link_to 'terms of use', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'}
'  and #{link_to 'privacy policy', 'http://www.catarse.me/pt/privacy-policy', taget: '__blank'} updated.
br/
br/
| If you have any questions please contact us by replying to this email or by #{mail_to CatarseSettings[:email_contact]}
br/
br/
| Regards,
br/
| Startio
