= link_to 'https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank do
  img src="https://s3.amazonaws.com/catarse.files/video.jpg"

p #{@notification.user.display_name},

p
  'You are on of the supporters <strong>#{@notification.user.contributor_number}</strong>
   in a world of more than 200,000 incredible people who have supported Startio projects
    in the past 4 and a half years that we were online. Bringing all these people
    It is a symbolic milestone, a sign that've been come a long way and have motivation to,
    together, go beyond. Thank you very much! We hope you feel proud to be part
    a crowd who decided to join together to fund more than 1,700 creative ideas from all over USA.

p
  'To celebrate this achievement, we made a #{link_to('vídeo', 'https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank)} to
   show some of the beautiful impact that we have married in the creative output of the country.
   When looking at how much we have already done together, we try to imagine: what if we were 1 million?

p
  'watch a #{link_to('compartilhe', 'http://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank)}
   The video with the hashtags #Wearemany and # Catarse200mil.
   We will bring more people to get even more paper projects!

p Regards,

p Team Startio
